ipykernel>=6.30.1
openai>=1.99.6
ipython==8.24.0
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
python-dotenv
yfinance
crewai[tools]
crewai-tools
pydantic
firecrawl-py>=4.3.5
tavily-python>=0.7.11
streamlit>=1.54.0
openai-agents>=0.3.3
